@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

SELECTOR {
    styles: values;
}

h1 {
    margin: auto;
    font-size: 65px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    margin: 0
}

h2 {
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    margin-bottom: 1em;
}

main {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    text-align: left;
    margin: auto;
    max-width: 60rem;
    padding: 0 2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.title {
    width: 10em;
    font-size: x-large;
    font-weight: 500;
    margin: 0 20px 10px 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 500;
}