SELECTOR {
    styles: values;
}
h1 {
    font-size: 60px;
    font-family: 'Segoe UI';
    color: black;
}
h2 {
    font-size: 20px;
    font-family: 'Segoe UI';
    color: black;
}
.content  {
    width: 100px;
    margin: auto;
}